<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome, user</title>
  <link rel="stylesheet" href="/app/assets/stylesheets/users/form.css">
</head>
<body class="Form">

<h1>Please Update Your password</h1>

<%#= render "form", user: @user %>


<%= form_with model: @user, controller: "password", action: "update", method: :put  do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @current_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="Entry">
    <%= form.label "Password", style: "display: block" %>
    <%= form.password_field :password, placeholder: "password", id: "show_hide_password" , validate: true%>
  </div>

  <div class="Entry">
    <%= form.label "Confirm Password", style: "display: block" %>
    <%= form.password_field :password_confirmation , placeholder:"password", validate: true%>
  </div>

  <div class="Entry">
    <%= form.submit "Update Password"%>
  </div>


  <br>

<%end %>

</body>
</html>