<h1>Please Change Your Password</h1>

<%= form_with model: user  do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="Entry">
    <%= form.label "Password", style: "display: block" %>
    <%= form.password_field :password, placeholder: "password", required: true,validate: true %>
  </div>

  <div class="Entry">
    <%= form.label "Confirm Password", style: "display: block" %>
    <%= form.password_field :password_confirmation , placeholder:"password", required: true, validate: true%>
  </div>

  <div class="Entry">
    <%= form.submit "Update Your Password" %>
  </div>

<%end %>