<link rel="stylesheet" href="/app/assets/stylesheets/users/user.css">

<div>

  <p class="Entry">
    <strong>Firstname:</strong>
    <label class="type"><%= user.firstName %> </label>

  </p>

  <p class="Entry">
    <strong>Middlename:</strong>
    <label class="type"><%= user.middleName %></label>
  </p>

  <p class="Entry">
    <strong>Lastname:</strong>
    <label class="type"><%= user.LastName %></label>
  </p>

  <p class="Entry">
    <strong>Email:</strong>
    <label class="type"><%= user.email %></label>
  </p>

  <p class="Entry">
    <strong>Mobileno:</strong>
    <label class="type"><%= user.mobileNo %></label>
  </p>

  <!--<p class="Entry">
    <strong>Studentid:</strong>
    <label class="type"><%#= user.userId %></label>
  </p>-->
  <p class="Entry">
    <strong>Gender:</strong>
    <label class="type"><%= user.gender %></label>
  </p>


</div>
