
<div>

  <p class="Entry">
    <strong>House NO.:</strong>
    <label class="type"><%= address.houseNo %> </label>

  </p>

  <p class="Entry">
    <strong>Society/Appartment Name:</strong>
    <label class="type"><%= address.nameOfSocietyOrAppartment %></label>
  </p>

  <p class="Entry">
    <strong>landmark:</strong>
    <label class="type"><%= address.landmark %></label>
  </p>

  <p class="Entry">
    <strong>City:</strong>
    <label class="type"><%= address.city %></label>
  </p>

  <p class="Entry">
    <strong>District:</strong>
    <label class="type"><%= address.district %></label>
  </p>

  <!--<p class="Entry">
    <strong>Studentid:</strong>
    <label class="type"><%#= user.userId %></label>
  </p>-->
  <p class="Entry">
    <strong>State:</strong>
    <label class="type"><%= address.state %></label>
  </p>

  <p class="Entry">
    <strong>Nation:</strong>
    <label class="type"><%= address.nation %></label>
  </p>

  <p class="Entry">
  <strong>Postal Code:</strong>
  <label class="type"><%= address.postalCode %></label>
</p>
</div>
