<link rel="stylesheet" href="/app/assets/stylesheets/users/student.css">

<div>

  <p class="Entry">
    <strong>id:</strong>
    <label class="type"><%= course.id %> </label>

  </p>

  <p class="Entry">
    <strong>Course Id:</strong>
    <label class="type"><%= course.courseId %></label>
  </p>

  <p class="Entry">
    <strong>Course Name:</strong>
    <label class="type"><%= course.courseName %></label>
  </p>

  <p class="Entry">
    <strong>Batch :</strong>
    <label class="type"><%= course.batch %></label>
  </p>

  <p class="Entry">
    <strong>Department :</strong>
    <label class="type"><%= course.department %></label>
  </p>

  <p class="Entry">
    <strong>Teaching semester:</strong>
    <label class="type">
      <%= course.semester %>
    </label>
  </p>



</div>
